<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Basic 70</title>
</head>
<body>
       <div class="header bg-dark text-white">
           <div class="container">
               <div class="logo">
                   <h1>Basic 70</h1>
                   <p>Free HTML5 Website Template
                </p>
               </div>

               <div class="nav">
                   <ul>
                       <li><a href="#">TEXT LINK</a></li>
                       <li><a href="#">TEXT LINK</a></li>
                       <li><a href="#">TEXT LINK</a></li>
                       <li><a href="#">TEXT LINK</a></li>
                       <li><a href="#">TEXT LINK</a></li>
                       <div class="clear-fix"></div>
                   </ul>
               </div>
               <div class="clear-fix"></div>

           </div>
       </div> 


       <div class="main-body">
           <div class="container">
                <div class="section-1 mt-2">
                    <div class="one-third">
                        <h2>One Third</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque. Quisque non luctus sem. Nullam non magna vel nisi posuere bibendum vitae sed dui. Nulla at lorem tortor, non rhoncus odio. Nunc sit amet interdum orci. Nam at mauris ut arcu fringilla facilisis.</p>
                    </div>

                    <div class="one-third mx-1">
                        <h2>One Third</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque. Quisque non luctus sem. Nullam non magna vel nisi posuere bibendum vitae sed dui. Nulla at lorem tortor, non rhoncus odio. Nunc sit amet interdum orci. Nam at mauris ut arcu fringilla facilisis.</p>
                    </div>

                    <div class="one-third">
                        <h2>One Third</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque. Quisque non luctus sem. Nullam non magna vel nisi posuere bibendum vitae sed dui. Nulla at lorem tortor, non rhoncus odio. Nunc sit amet interdum orci. Nam at mauris ut arcu fringilla facilisis.</p>
                    </div>

                    <div class="clear-fix"></div>
                    
                </div>


                <div class="section-2 mt-2">
                    <div class="two-third">
                        <h2>Two Third</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque. Quisque non luctus sem. Nullam non magna vel nisi posuere bibendum vitae sed dui. Nulla at lorem tortor, non rhoncus odio. Nunc sit amet interdum orci. Nam at mauris ut arcu fringilla facilisis. Donec tempus massa vitae nunc pulvinar sed lobortis leo rutrum. Sed tempus, massa quis consequat consequat, sem purus porta urna, eget sollicitudin orci mi et nunc. Proin lorem turpis, imperdiet vel gravida sed, fringilla ac dui. Pellentesque vehicula placerat enim, tristique consequat lacus varius a. Pellentesque pretium augue eget ante euismod eget dignissim odio vestibulum.</p>
                    </div>
                    <div class="one-third ml-1">
                        <h2>One Third
                        </h2>
                        <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque. Quisque non luctus sem. Nullam non magna vel nisi posuere bibendum vitae sed dui. Nulla at lorem tortor, non rhoncus odio. Nunc sit amet interdum orci. Nam at mauris ut arcu fringilla facilisis.</p>
                    </div>
                </div>
           </div>
       </div>
</body>
</html>