<!DOCTYPE html>
<html lang="en">
<head>       
    <title>Basic 76</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="header">
        <div class="container">
            <div class="d-flex justify-content-space align-items-center py-1 header-top">
                <div class="logo">
                    <h1>Basic 75</h1>
                    <p>Free HTML5 Website Template</p>
                </div>
                 <div class="search-bar">
                    <input type="text">
                    <button>Submit</button>
                 </div>
                 
            </div>
            

            <div class="nav py-1 ">
                <ul class="d-flex justify-content-space">
                    <li><a href="#">TEXT LINK</a></li>
                    <li><a href="#">TEXT LINK</a></li>
                    <li><a href="#">TEXT LINK</a></li>
                    <li><a href="#">TEXT LINK</a></li>
                    <li><a href="#">TEXT LINK</a></li>
                </ul>

            </div>
        </div>
    </div>
    
</body>
</html>