*{
    margin: 0px;
    padding: 0px;    
}

.container{
    width: 1340px;
    margin: 0px auto;
}


.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-item{
    flex:1;
}


.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

.mt-3{
    margin-top: 3rem;
}

.mt-4{
    margin-top: 4rem;
}

.mt-5{
    margin-top: 5rem;
}

.justify-content-space{
    justify-content: space-between;
}

.justify-content-even{
    justify-content: space-evenly;
}

.align-items-center{
    align-items: center;
}


.py-1{
    padding:1rem 0
}

.py-2{
    padding:2rem 0
}

.py-3{
    padding:3rem 0
}

.py-4{
    padding:4rem 0
}

.py-5{
    padding:5rem 0
}

.header{
    color:#97ADB6;
    background-color: #333333;

}

.header-top{
    border-bottom: 1px solid #97ADB6;
}
.nav{
    width: 50%;
}
.nav ul{
    list-style-type: none;

}

.nav ul li a{
    color: #97ADB6;
    text-decoration: none;
}